<% if (typeof error !== 'undefined' && error) { %>
<div class="error-message" style="color: red">
  <% if (Array.isArray(error)) { %> <% error.forEach(function(err) { %>
  <p><%= err %></p>
  <!-- Each error displayed on a new line -->
  <% }); %> <% } else { %>
  <p><%= error %></p>
  <!-- If error is not an array, just display it -->
  <% } %>
</div>
<hr />
<% } %>
