<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members Only - Sign Up</title>
  </head>
  <body>
    <h1>Sign Up</h1>
    <hr />

    <form action="" method="POST">
      <label for="first_name">First name:</label>
      <input
        id="first_name"
        name="first_name"
        placeholder="first name"
        type="text"
      />
      <br />
      <label for="last_name">Last name:</label>
      <input
        id="last_name"
        name="last_name"
        placeholder="last name"
        type="text"
      />
      <br />
      <label for="username">Username:</label>
      <input id="username" name="username" placeholder="username" type="text" />
      <br />
      <label for="password">Password:</label>
      <input id="password" name="password" type="password" />
      <br />
      <label for="confirm_password">Confirm Password:</label>
      <input id="confirm_password" name="confirm_password" type="password" />
      <br />
      <button type="submit">Sign Up</button>
    </form>
    <hr />

    <a href="/">Home</a>
  </body>
</html>
